/* Font Setup */

/* DECOY */
@font-face {
font-family:"Decoy";
src:url("./fonts/Decoy-font/decoy.otf");
font-weight:normal;
font-style:normal;
}

@font-face {
font-family:"Decoy";
src:url("./fonts/Decoy-font/decoy-light.otf");
font-weight:100;
font-style:italic;
}

@font-face {
font-family:"Decoy";
src:url("./fonts/Decoy-font/decoy-medium.otf");
font-weight:500;
font-style:italic;
}

@font-face {
font-family:"Decoy";
src:url("./fonts/Decoy-font/decoy-black.otf");
font-weight:bold;
font-style:italic;
}

/* AESTHET NOVA */

@font-face {
font-family:"AesthetNova";
src:url("./fonts/Aesthet-Nova/aesthet-nova.otf");
font-weight:normal;
font-style:normal;
}

@font-face {
font-family:"AesthetNova";
src:url("./fonts/Aesthet-Nova/aesthet-nova-light.otf");
font-weight:100;
font-style:normal;
}

@font-face {
font-family:"AesthetNova";
src:url("./fonts/Aesthet-Nova/aesthet-nova-medium.otf");
font-weight:500;
font-style:normal;
}

@font-face {
font-family:"AesthetNova";
src:url("./fonts/Aesthet-Nova/aesthet-nova-black.otf");
font-weight:bold;
font-style:normal;
}

/* End of Font Setup */

* {
	box-sizing:border-box
}

/* HEADER */

header {
	font-family:AesthetNova, sans-serif;
	font-weight:500;
	background-color:#b6e23d;
	position:fixed;
	top:0;
	left:0;
	height:70px;
	width:100%;
	display:flex;
	flex-direction:row;
	border-bottom: 1px solid #44510d;
	z-index:1;
}

.empty {
	height:100%;
	width:50%;
	/*border:1px solid black;*/
}

.navbar {
	width:50%;
	height:100%;
	/*border:1px solid black;*/
	display:flex;
	flex-direction:row;
	justify-content:flex-end;
	margin-right:60px;
}

.navbar a {
	height:100%;
	font-size:24px;
	width:50%;
	max-width:200px;
	color:#44510d;
	display:flex;
	align-items:center;
	justify-content:center;
	padding:5px;
		text-decoration:none;

}

.navbar a:visited {
	text-decoration:none;
	color:#44510d;
}

.navbar a:hover {
	background-color:#82992b;
	color:#fffdee;
	font-weight:normal;
	cursor:pointer;
}

/* MAIN */

body {
	background-color:#fffdee;
	height:100%;
}

html,body {
	min-height:100%;
}

main {
	padding-top:150px;
	height:700px;
	display:flex;
	flex-direction:row;
	align-items:flex-start;
	flex-wrap:nowrap;
}

/* PORTFOLIO TITLE */

.middle-container {
	width: 60%;
	height: 110%;
	min-width:500px;
	/*border: 1px solid black;*/
	position:relative;
	top:-60px;
	margin-top:10px;
	display:flex;
	justify-content:flex-start;
	flex-direction:column;
	align-items:center;
	}

#welcome-name {
	text-align:center;
	height:12em;
	top:-360px;
}

.tiny-title {
	font-family:Decoy, sans-serif;
	font-size:25px;
	transform:rotate(-2deg);
}

#super-header {
	/*border: 1px solid blue;*/
	height: 1em;
	position:absolute;
	left:215px;
	top:10px;
}

#title-text {
	font-family:Decoy;
	font-weight:700;
	font-size:80px;
	letter-spacing: 0.001em;
	transform:rotate(-2deg);
	/*border: 1px solid red;*/
}

#sub-header {
	/*border: 1px solid blue;*/
	height: 1em;
	position:absolute;
	left:410px;
	top:120px;
}

/* SCROLL GALLERY */
section.scroll-container {
	display:flex;	
	margin-top:60px;
	overflow: auto;
  	white-space: nowrap;
  	padding: 10px;
  	width:100%;
  	height:100%;
}

.gallery-container {
	height:300px;
	width:300px;
	margin:10px;
	border-radius:30px;
}

.design-type {
	height:60px;
	width:100%;
	background-color: #b6e23d;
	border-top-right-radius:30px;
	border-top-left-radius:30px;
	border:1px solid black;
	border-bottom:none;
	position:relative;
	
	font-family:AesthetNova, sans-serif;
	font-size:30px;
	font-weight:300;
	text-align:center;
	display:flex;
	align-items: center;
	justify-content:center;
}
.gallery-container img {
	height:240px;
	width:300px;
	object-fit:cover;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	border:1px solid black;
	z-index:-1;
}

.gallery-container:hover {
	scale:105%;
}

.prodpage {
	text-decoration:none;
	color: black;
}
/* HOME SIDES */

.side-container {
	/*border:1px solid red;*/
	color:red;
	width:20%;
	height:100%;
}

/* FOOTER */
footer {
  position:relative;
  padding-left:240px;
  font-family:AesthetNova, sans-serif;
  font-weight:300;
  height:30px;
  display:flex;
  justify-content:flex-start;
  align-content:flex-end;
  padding-bottom:10px;
  margin-bottom:10px;
  padding-top:10px;
}









