/* Font Setup */

/* DECOY */
@font-face {
font-family:"Decoy";
src:url("./fonts/Decoy-font/decoy.otf");
font-weight:normal;
font-style:normal;
}

@font-face {
font-family:"Decoy";
src:url("./fonts/Decoy-font/decoy-light.otf");
font-weight:100;
font-style:italic;
}

@font-face {
font-family:"Decoy";
src:url("./fonts/Decoy-font/decoy-medium.otf");
font-weight:500;
font-style:italic;
}

@font-face {
font-family:"Decoy";
src:url("./fonts/Decoy-font/decoy-black.otf");
font-weight:bold;
font-style:italic;
}

/* AESTHET NOVA */

@font-face {
font-family:"AesthetNova";
src:url("./fonts/Aesthet-Nova/aesthet-nova.otf");
font-weight:normal;
font-style:normal;
}

@font-face {
font-family:"AesthetNova";
src:url("./fonts/Aesthet-Nova/aesthet-nova-light.otf");
font-weight:100;
font-style:normal;
}

@font-face {
font-family:"AesthetNova";
src:url("./fonts/Aesthet-Nova/aesthet-nova-medium.otf");
font-weight:500;
font-style:normal;
}

@font-face {
font-family:"AesthetNova";
src:url("./fonts/Aesthet-Nova/aesthet-nova-black.otf");
font-weight:bold;
font-style:normal;
}

/* End of Font Setup */

* {
	box-sizing:border-box
}

/* HEADER */

header {
	font-family:AesthetNova, sans-serif;
	font-weight:500;
	background-color:#b6e23d;
	position:fixed;
	top:0;
	left:0;
	height:70px;
	width:100%;
	display:flex;
	flex-direction:row;
	border-bottom: 1px solid #44510d;
	z-index:1;
}

.empty {
	height:100%;
	width:50%;
	/*border:1px solid black;*/
}

.navbar {
	width:50%;
	height:100%;
	/*border:1px solid black;*/
	display:flex;
	flex-direction:row;
	justify-content:flex-end;
	margin-right:60px;
}

.navbar a {
	height:100%;
	font-size:24px;
	width:50%;
	max-width:200px;
	color:#44510d;
	display:flex;
	align-items:center;
	justify-content:center;
	padding:5px;
	text-decoration:none;
}

.navbar a:visited {
	text-decoration:none;
	color:#44510d;
}

.navbar a:hover {
	background-color:#82992b;
	color:#fffdee;
	font-weight:normal;
	cursor:pointer;
}

/* MAIN */

body {
	background-color:#fffdee;
	height:100%;
}

html,body {
	min-height:100%;
}


main {
	padding-top:150px;
	height:700px;
}

.contact-form {
  width:80%;
  max-width:1000px;
  min-width:50px;
  height:auto;
  margin:0 auto;
  /*border:1px solid black;*/
}

h1 {
	font-family:Decoy;
	font-style:normal;
	font-weight:600;
	font-size:40px;
	padding-bottom:10px;
	margin:0;
}

#instructions {
	font-family:AesthetNova;
	font-weight:500;
	padding:10px 0 20px 0;
	font-size:14pt;
}

.contact-form p,form {
	font-family:AesthetNova;
	font-weight:100;
	font-size:22px;
	line-height:1.2em;
	margin-top:0;
	margin-bottom:0;
}

form {
	line-height:2.8em;
	width:1000px;
	text-align:center;
}

.required {
	font-weight:500;
	color:#b6e23d;
}

.question {
	display:inline-block;
	text-align:left;
}

input:not(#submit,#big-text) {
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
  	width: 400px;
  	text-align: left;
}

#big-text {
text-align:left;
}

#the-meat,.text-area {
display:flex;
justify-content:center;
font-family:AesthetNova;
font-weight:100;
}


/* FOOTER */
footer {
  position:relative;
  padding-left:220px;
  font-family:AesthetNova;
  font-weight:300;
  height:30px;
  display:flex;
  justify-content:flex-start;
  align-content:flex-end;
  padding-bottom:0;
  padding-top:10px;
}