/* Font Setup */

/* DECOY */
@font-face {
font-family:"Decoy";
src:url("../fonts/Decoy-font/decoy.otf");
font-weight:normal;
font-style:normal;
}

@font-face {
font-family:"Decoy";
src:url("../fonts/Decoy-font/decoy-light.otf");
font-weight:100;
font-style:italic;
}

@font-face {
font-family:"Decoy";
src:url("../fonts/Decoy-font/decoy-medium.otf");
font-weight:500;
font-style:italic;
}

@font-face {
font-family:"Decoy";
src:url("../fonts/Decoy-font/decoy-black.otf");
font-weight:bold;
font-style:italic;
}

/* AESTHET NOVA */

@font-face {
font-family:"AesthetNova";
src:url("../fonts/Aesthet-Nova/aesthet-nova.otf");
font-weight:normal;
font-style:normal;
}

@font-face {
font-family:"AesthetNova";
src:url("../fonts/Aesthet-Nova/aesthet-nova-light.otf");
font-weight:100;
font-style:normal;
}

@font-face {
font-family:"AesthetNova";
src:url("../fonts/Aesthet-Nova/aesthet-nova-medium.otf");
font-weight:500;
font-style:normal;
}

@font-face {
font-family:"AesthetNova";
src:url("../fonts/Aesthet-Nova/aesthet-nova-black.otf");
font-weight:bold;
font-style:normal;
}

/* End of Font Setup */

* {
	box-sizing:border-box
}

/* HEADER */

header {
	font-family:AesthetNova, sans-serif;
	font-weight:500;
	background-color:#b6e23d;
	position:fixed;
	top:0;
	left:0;
	height:70px;
	width:100%;
	display:flex;
	flex-direction:row;
	border-bottom: 1px solid #44510d;
	z-index:1;
}

.empty {
	height:100%;
	width:50%;
	/*border:1px solid black;*/
}

.navbar {
	width:50%;
	height:100%;
	/*border:1px solid black;*/
	display:flex;
	flex-direction:row;
	justify-content:flex-end;
	margin-right:60px;
}

.navbar a {
	height:100%;
	font-size:24px;
	width:50%;
	max-width:200px;
	color:#44510d;
	display:flex;
	align-items:center;
	justify-content:center;
	padding:5px;
		text-decoration:none;

}

.navbar a:visited {
	text-decoration:none;
	color:#44510d;
}

.navbar a:hover {
	background-color:#82992b;
	color:#fffdee;
	font-weight:normal;
	cursor:pointer;
}

/* MAIN */

body {
	background-color:#fffdee;
	height:100%;
}

html,body {
	min-height:100%;
}

main {
	padding-top:120px;
	height:1000px;
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:center;
	flex-wrap:nowrap;
}

/* PAGE-DESCRIPTION */

.product-general {
	/*border:1px solid red;*/
	align-items:flex-start;
	width:60%;
	display:flex;
	flex-direction:row;
}

.product-general p {
	font-family:AesthetNova,sans-serif;
	font-weight:300;
	font-size:22px;
	margin-bottom:0;
}

.product-general h1 {
	font-family:Decoy;
	font-style:normal;
	font-weight:600;
	font-size:40px;
	margin-top:0;
	padding-top:0;
}

#description {
	/*border:1px solid blue;*/
	width: 100%;
	line-height:1.7em;
}

#text-part {
	/*border:1px solid red;*/
	width:100%;
}

#cover-image {
	/*border:1px solid blue;*/
	width:0%;
	height:14.38em;
}

/* PROJECTS */

/*#prod-dropdowns {
	width:60%;
	border:1px solid green;
	margin-top:60px;
}

details {
	border:1px solid pink;
	height:5em;
}

.desc-box {
	background-color:white;
	border:1px solid black;
	border-radius:20px;
	height:20em;
	box-shadow: -5px 5px black;
	margin-top:10px;
}

.detail-sum {
	width:100%;
	height:3em;
	background-color:#b6e23d;
} */

#product-gallery {
	/*border:1px solid black;*/
	height:500px;
	width: 60%;
}

.gallery {
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	padding-top:50px;
	
}

div.img-frame {
	width:250px;
	height:310px;
	margin:10px;
	background-color:white;
	border:1px solid black;
	box-shadow: -5px 5px black;
	transform:rotate(-2deg);
}

div.img-frame:hover {
	transform:rotate(2deg);
}

.img-frame img {
	height:220px;
	width:220px;
	object-fit:cover;
	margin-top:20px;
	border:1px solid black;
}

.img-title {
	display:flex;
	font-family:AesthetNova, sans-serif;
	font-size:20px;
	font-weight:300;
	text-align:center;
	align-items:center;
	justify-content:center;
}

#rileyjump {
	position:absolute;
	left:450px;
	display:flex;
	justify-content:center;
	scale:80%;
	top:-10px;
}

.prod-story {
	/*border:1px solid red;*/
	margin-left:25px;
	font-family:AesthetNova, sans-serif;
	font-size:20px;
	font-weight:300;
	line-height:2.7ex;
}

.img-containing {
	/*border:1px solid red;*/
	margin-top:75px;
	width:60%;
}

.non-image {
	margin-top:75px;
	justify-content:center;
	width:80%;
}

.popup-window {
	background-color:white;
	border:1px solid black;
	border-radius:20px;
	height:20em;
	box-shadow: -5px 5px black;
	margin-top:10px;
	width:50%;
	position:fixed;
	top:200px;
}

button {
	border: none;
    background:none;
}